body
{
	margin-top: 50px;	
	vertical-align: center;
	text-align: center;
}

h1
{
	font-size: 50px;
	font-family: century;	
	color:#000000;
	text-align: center;	
}

.container
{
	max-width: 650px;
	max-height: 600px;
	margin:auto;
	background-color: #AE482D;	
}

h2
{
	font-size: 18px;
	font-family: century;
	color:black;
	text-align: left;		
}

h3
{
	font-size: 20px;
	font-family: century;
	color:red;
	text-align: center;	
}

a
{
	font-family: century;
	font-size: 17px;
	color:black;
	text-align: center;
}

/*for submit and reset buttons*/
#submit
{
	height: 30px;
	width: 100px;
	border-radius: 20px;
	background: #000000;
	color: #FFFFFF;
	font-family: century;
	font-size: 18px;
	text-align: center;
}

#reset
{
	height: 30px;
	width: 100px;
	border-radius: 20px;
	background: #000000;
	color: #FFFFFF;
	font-family: century;
	font-size: 18px;
	text-align: center;
}